#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;  
    margin-right: auto;
    margin-top: 25px;
}
#logo
{
}
#auth
{
   width:50%;
   text-align: right;
   font-weight: 600;
}
#row1{
   /*
   display:flex;*/
 }
#row1 h3{
   /*
  text-align:center;
  width:30%;*/
}
#row3{
   /*
   display:flex;
   flex-wrap:wrap;
   justify-content: space-between;*/
}
#address{
   /*
width:50%;*/
}
#prix{
   /*
   width:50%;
   text-align: right;*/
}
#city{
   /*
   width:50%;
   display:flex;
   align-items:center;*/
}
#date{
   width:50%;
   text-align: right;
}

.slider-container {
   
   position: relative;
   display: inline-block;
   /*
   text-align: center;*/
}
.slider-image {
   width: 100%;
   height: 500px;
}
.nav-icon {
   position: absolute;
   top: 50%;
   
   transform: translateY(-50%);
   font-size: 2rem;
   color: white;
   border: none;
   cursor: pointer;
   z-index: 10;
}
.nav-prev {
   left: 10px;
}
.nav-next {
   right: 10px;
}

#row7{ 
   /*
   display:flex;
   flex-direction: column;*/
}
#row8{  
   
   display:flex;
   /*
   justify-content: space-between;*/
}
.dollar-input{
   display: flex;
   align-items: center; /* Center items vertically */
   padding-right: 10px;
}
#dollarInput{
   border-radius:5px;
   border: 1px solid #ccc;
}

.input-field {
   flex: 1; /* Take remaining space */
   padding-right: 30px; /* Ensure space for the dollar sign */
}
.dollar-sign {
   margin-left: -30px; /* Optional: Adjust spacing between input and dollar sign */
   color: #555; /* Optional: Adjust color as needed */
}
#row10{
   display:flex;
   justify-content: space-between;
}
#div-btn{
 display:flex;
 align-items: center;
 
}
#i{
   margin-left:-200px;
}
#btn{
   flex:1;
   border-radius:8px;
   color:white;
   background-color:#00bd1f;
}
#cardBody div{
   /*
   margin-top: 10px;*/
   padding-top: 10px;
}