#line1
{
/*
    background-image: url('../assets/imgs/Line2.png');*/
    /*
    background-size: 16px 16px;
    background-repeat: no-repeat;*/
    /*
    background-size: cover; 
    background-position: center; */
}